.container {
  margin: 50px;

  h1 {
    font-size: 18px;
    font-weight: normal;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .ui {
    &.cards,
    &.negative {
      margin-top: 1rem;
      &.message {
        width: fit-content;
      }
    }
  }
}
