<div class="container">
  <header>
    <h1>Angular Search using debounceTime in RxJS 6</h1>
    <div class="ui icon input">
      <label for="searchMovies" class="visuallyhidden">Search movies</label>
      <input
        type="text"
        #movieSearchInput
        id="searchMovies"
        placeholder="Type any movie name"
      />
      <i class="search link icon close" (click)="clearSearch()"></i>
    </div>

    <div *ngIf="isSearching">
      <h4>Searching ...</h4>
    </div>
    <ng-container *ngIf="apiResponse.Response === 'False'; else elseTemplate">
      <div class="ui negative message">
        <div class="header">{{ apiResponse.Error }} Please search again.</div>
      </div>
    </ng-container>
  </header>
  <section>
    <ng-template #elseTemplate>
      <div class="ui cards">
        <div class="ui card" *ngFor="let movie of apiResponse.Search">
          <ng-container *ngIf="movie.Poster !== 'N/A'">
            <div class="image">
              <img
                src="{{ movie.Poster }}"
                alt="poster for {{ movie.Title }}"
              />
            </div>
          </ng-container>
          <ng-container *ngIf="movie.Poster === 'N/A'">
            <div class="image">
              <img
                src="assets/images/default.png"
                alt="poster for {{ movie.Title }}"
              />
            </div>
          </ng-container>
          <div class="content">
            <div class="header">{{ movie.Title }}</div>
            <div class="description">{{ movie.Year }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </section>
</div>
