<div class="container">
  <h1>Angular Search using debounceTime in RxJS 6</h1>
  <div class="ui icon input">
    <input type="text" #movieSearchInput placeholder="Type any movie name" />
    <i class="search link icon close" (click)="clearSearch()"></i>
  </div>

  <div *ngIf="isSearching">
    <h4>Searching ...</h4>
  </div>
  <div>
    <ng-container *ngIf="apiResponse.Response === 'False'; else elseTemplate">
      <div class="ui negative message">
        <div class="header">{{ apiResponse.Error }} Please search again.</div>
      </div>
    </ng-container>

    <ng-template #elseTemplate>
      <div class="ui cards">
        <div class="ui card" *ngFor="let movie of apiResponse.Search">
          <ng-container *ngIf="movie.Poster !== 'N/A'">
            <div class="image">
              <img src="{{ movie.Poster }}" alt="movie poster" />
            </div>
          </ng-container>
          <ng-container *ngIf="movie.Poster === 'N/A'">
            <div class="image">
              <img src="assets/images/default.png" alt="movie poster" />
            </div>
          </ng-container>
          <div class="content">
            <div class="header">{{ movie.Title }}</div>
            <div class="description">Year: {{ movie.Year }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
